{% extends "Flights/layout.html" %}
{% block content %}
    <h1>Flight {{flight.id}}</h1>
    <p>{{flight.origin}} to {{flight.destination}}</p>

    <h1>Passengers</h1>
    <ul>
        {% for passenger in passengers %}
            <li>{{passenger.first}} {{passenger.last}}</li>
        {% endfor %}
    </ul>

    <h2>Book a passenger</h2>
    <form action="{% url 'book' flight.id %}" method="post">
        {% csrf_token %}
        <select name="passenger">
            {% for passenger in non_passengers %}
                <option value="{{passenger.id}}">{{passenger.first}} {{passenger.last}}</option>
            {% endfor %}
        </select>
        <button type="submit">Book</button>
    </form>
    <a href="{% url 'index' %}">Back to all flights</a>
{% endblock %}